<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/queries.css" />
</head>

<body>
    <header class="header flex">
        <nav class="main-nav">
            <ul class="main-nav-list flex">
                <li><a class="link main-nav-link " href="/homepage">Home</a></li>
                <li><a class="link main-nav-link active" href="">Offers</a></li>
                <li><a class="link main-nav-link" href="/products">Products</a></li>
                <li><a class="link main-nav-link" href="/crew">Crew</a></li>
                <li><a class="link main-nav-link" href="/info">Info</a></li>
            </ul>
        </nav>
    </header>

    <!-- OFFERS SECTION -->
    <main>
        <section class="section section-offers">
            <div class="container grid grid--2-col">
                <div class="offers-img-box">
                    <img class="offers-img" src="./images/coffee-store.webp" />
                </div>
                <div class="offers-content-box">
                    <h2 class="heading-secondary">
                        Specialty coffees that makes you happy!
                    </h2>
                    <ul class="list">
                        <!-- First list -->
                        <li class="list-item">
                            <div class="item">
                                <i class="ri-cup-line icon"></i>
                                <p class="offers-title">Selected coffee</p>
                            </div>
                            <p class="paragraph offers-text">
                                we selected the best premium coffee, for a true taste.
                            </p>
                        </li>

                        <!-- Second list -->
                        <li class="list-item">
                            <div class="item">
                                <i class="ri-cake-3-line icon"></i>
                                <p class="offers-title">Delicious cakes</p>
                            </div>
                            <p class="paragraph offers-text">
                                Enjoy your coffee with some hot cookies
                            </p>
                        </li>

                        <!-- Third list -->
                        <li class="list-item">
                            <div class="item">
                                <i class="ri-heart-3-line icon"></i>
                                <p class="offers-title">Enjoy at home</p>
                            </div>
                            <p class="paragraph offers-text">
                                Enjoy the best coffee in the comfort of your home
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <script src="" async defer></script>
</body>

</html>