<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />


  <link rel="stylesheet" href="css/general.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/queries.css" />
</head>

<body>
  <header class="header flex">
    <nav class="main-nav">
      <ul class="main-nav-list flex">
        <li><a class="link main-nav-link" href="/homepage">Home</a></li>
        <li><a class="link main-nav-link" href="/offers">Offers</a></li>
        <li><a class="link main-nav-link active" href="">Products</a></li>
        <li><a class="link main-nav-link" href="/crew">Crew</a></li>
        <li><a class="link main-nav-link" href="/info">Info</a></li>
      </ul>
    </nav>
  </header>

  <!-- PRODUCTS SECTION -->
  <main>
    <section class="section section-products">
      <div class="container">
        <h2 class="heading-secondary">
          <span class="title--border">Our products</span>
          <a href="/menu" class="btn" style="float:right;">Our Menu</a>
        </h2>
        <div class="products">
          <!-- PRODUCT 1 -->
          <div class="product product--1">
            <div class="product--img product--img-1 bg-img"></div>
            <p class="product-name">Coffee</p>
          </div>

          <!-- PRODUCT 2 -->
          <div class="product product--2">
            <div class="product--img product--img-2 bg-img"></div>
            <p class="product-name">Juice</p>
          </div>

          <!-- PRODUCT 3 -->
          <div class="product product--3">
            <div class="product--img product--img-3 bg-img"></div>
            <p class="product-name">Breakfast</p>
          </div>

          <!-- PRODUCT 4 -->
          <div class="product product--4">
            <div class="product--img product--img-4 bg-img"></div>
            <p class="product-name">Cake</p>
          </div>

          <!-- PRODUCT 5 -->
          <div class="product product--5">
            <div class="product--img product--img-5 bg-img"></div>
            <p class="product-name">Tea</p>
          </div>
        </div>
      </div>
    </section>
  </main>


  <script src="" async defer></script>
</body>

</html>